In [1]:
import os
import sys
import pandas as pb
import seaborn as sns
import time
import matplotlib.pyplot as plt
import numpy as np
import warnings
import glob
from apyori import apriori
from tqdm import tqdm_notebook as tqdm

In [2]:
#Load of the files needed for the chromosomes

chromo_1 = pb.read_table("C:\\Users\\USER\\Desktop\\FCUP - Doutoramento\\PHD_Thesis_Git_Code\\WTCCC\\controls\\Chiamo_NBS\\Affx_20070205fs1_gt_NBS_Chiamo_01.txt")
chromo_2 = pb.read_table("C:\\Users\\USER\\Desktop\\FCUP - Doutoramento\\PHD_Thesis_Git_Code\\WTCCC\\controls\\Chiamo_NBS\\Affx_20070205fs1_gt_NBS_02.txt")
chromo_3 = pb.read_table("C:\\Users\\USER\\Desktop\\FCUP - Doutoramento\\PHD_Thesis_Git_Code\\WTCCC\\controls\\Chiamo_NBS\\Affx_20070205fs1_gt_NBS_03.txt")
chromo_4 = pb.read_table("C:\\Users\\USER\\Desktop\\FCUP - Doutoramento\\PHD_Thesis_Git_Code\\WTCCC\\controls\\Chiamo_NBS\\Affx_20070205fs1_gt_NBS_04.txt")
chromo_6 = pb.read_table("C:\\Users\\USER\\Desktop\\FCUP - Doutoramento\\PHD_Thesis_Git_Code\\WTCCC\\controls\\Chiamo_NBS\\Affx_20070205fs1_gt_NBS_06.txt")
chromo_8 = pb.read_table("C:\\Users\\USER\\Desktop\\FCUP - Doutoramento\\PHD_Thesis_Git_Code\\WTCCC\\controls\\Chiamo_NBS\\Affx_20070205fs1_gt_NBS_08.txt")
chromo_10 = pb.read_table("C:\\Users\\USER\\Desktop\\FCUP - Doutoramento\\PHD_Thesis_Git_Code\\WTCCC\\controls\\Chiamo_NBS\\Affx_20070205fs1_gt_NBS_10.txt")
chromo_12 = pb.read_table("C:\\Users\\USER\\Desktop\\FCUP - Doutoramento\\PHD_Thesis_Git_Code\\WTCCC\\controls\\Chiamo_NBS\\Affx_20070205fs1_gt_NBS_12.txt")
chromo_18 = pb.read_table("C:\\Users\\USER\\Desktop\\FCUP - Doutoramento\\PHD_Thesis_Git_Code\\WTCCC\\controls\\Chiamo_NBS\\Affx_20070205fs1_gt_NBS_18.txt")
chromo_19 = pb.read_table("C:\\Users\\USER\\Desktop\\FCUP - Doutoramento\\PHD_Thesis_Git_Code\\WTCCC\\controls\\Chiamo_NBS\\Affx_20070205fs1_gt_NBS_19.txt")
chromo_22 = pb.read_table("C:\\Users\\USER\\Desktop\\FCUP - Doutoramento\\PHD_Thesis_Git_Code\\WTCCC\\controls\\Chiamo_NBS\\Affx_20070205fs1_gt_NBS_22.txt")

#need to alter the files from chromosomes 1,2,8,10,18 for the scz data treatment

In [3]:
arpp21 = chromo_3[chromo_3["SNP"] == 'rs1523041']
gabrb1 = chromo_4[chromo_4["SNP"] == 'rs7680321']
syne1 = chromo_6[chromo_6["SNP"] == 'rs9371601']
cacna1c_1006= chromo_12[chromo_12["SNP"] == 'rs1006737']
cacna1c_4765 = chromo_12[chromo_12["SNP"] == 'rs4765914']
ncan= chromo_19[chromo_19["SNP"] == 'rs1064395']
syn3 = chromo_22[chromo_22["SNP"] == 'rs9621532']

In [4]:
rs1523041 = pb.DataFrame(columns=['patient','rs1523041','score_1'])

rs1523041['patient'] = arpp21['Subject']
rs1523041['rs1523041'] = arpp21['Genotype']
rs1523041['rs1523041'] = rs1523041['rs1523041'].map({'CC': 'CC-1' , 'GG': 'GG-1', 'CG': 'CG-1'  })
rs1523041['score_1'] = arpp21['Score']
rs1523041['score_1'] = rs1523041['score_1'].map(str)

below02 = rs1523041.score_1 <= '0.2'
below04 = (rs1523041.score_1 > '0.2') & (rs1523041.score_1 <= '0.4')
below06 = (rs1523041.score_1 > '0.4') & (rs1523041.score_1 <= '0.6')
below08 = (rs1523041.score_1 > '0.6') & (rs1523041.score_1 <= '0.8')
below09 = (rs1523041.score_1 > '0.8') & (rs1523041.score_1 <= '0.9')
below1 = (rs1523041.score_1 > '0.9') & (rs1523041.score_1 <= '1.0')

column_name = 'score1'
rs1523041.loc[below02, column_name] = '<= 0.2-1'
rs1523041.loc[below04, column_name] = '[0.2-0.4]-1'
rs1523041.loc[below06, column_name] = '[0.4-0.6]-1'
rs1523041.loc[below08, column_name] = '[0.6-0.8]-1'
rs1523041.loc[below09, column_name] = '[0.8-0.9]-1'
rs1523041.loc[below1, column_name] = '[0.9-1.0]-1'

rs1523041_consider = pb.DataFrame(rs1523041)
rs1523041_consider = rs1523041_consider.drop(['score_1'], axis=1)
rs1523041_consider = rs1523041_consider.sort_values(by='patient', ascending=True)
rs1523041_consider

              patient rs1523041       score1
11458500  WTCCC125636      CG-1  [0.9-1.0]-1
11458506  WTCCC125637      CC-1  [0.9-1.0]-1
11458512  WTCCC125638      CC-1  [0.9-1.0]-1
11458518  WTCCC125639      CG-1  [0.9-1.0]-1
11458524  WTCCC125640      CC-1  [0.9-1.0]-1
...               ...       ...          ...
11459964  WTCCC127809      CG-1  [0.9-1.0]-1
11459930  WTCCC127812      CC-1  [0.9-1.0]-1
11459934  WTCCC127814      CG-1  [0.9-1.0]-1
11459890  WTCCC127815      CG-1  [0.9-1.0]-1
11459911  WTCCC127817      CG-1  [0.9-1.0]-1

[1500 rows x 3 columns]

In [5]:
rs7680321 = pb.DataFrame(columns=['patient','rs7680321', 'score_6'])

rs7680321['patient'] = gabrb1['Subject']
rs7680321['rs7680321'] = gabrb1['Genotype']
rs7680321['rs7680321'] = rs7680321['rs7680321'].map({'CC': 'CC-6' , 'TT': 'TT-6', 'CT': 'CT-6'  })
rs7680321['score_6'] = gabrb1['Score']
rs7680321['score_6'] = rs7680321['score_6'].map(str)


below02 = rs7680321.score_6 <= '0.2'
below04 = (rs7680321.score_6 > '0.2') & (rs7680321.score_6 <= '0.4')
below06 = (rs7680321.score_6 > '0.4') & (rs7680321.score_6 <= '0.6')
below08 = (rs7680321.score_6 > '0.6') & (rs7680321.score_6 <= '0.8')
below09 = (rs7680321.score_6 > '0.8') & (rs7680321.score_6 <= '0.9')
below1 = (rs7680321.score_6 > '0.9') & (rs7680321.score_6 <= '1.0')

column_name = 'score6'
rs7680321.loc[below02, column_name] = '<= 0.2-6'
rs7680321.loc[below04, column_name] = '[0.2-0.4]-6'
rs7680321.loc[below06, column_name] = '[0.4-0.6]-6'
rs7680321.loc[below08, column_name] = '[0.6-0.8]-6'
rs7680321.loc[below09, column_name] = '[0.8-0.9]-6'
rs7680321.loc[below1, column_name] = '[0.9-1.0]-6'

rs7680321_consider = pb.DataFrame(rs7680321)
rs7680321_consider = rs7680321_consider.drop(['score_6'], axis=1)
rs7680321_consider = rs7680321_consider.sort_values(by='patient', ascending=True)
rs7680321_consider

              patient rs7680321       score6
13561500  WTCCC125636      CT-6  [0.9-1.0]-6
13561506  WTCCC125637      TT-6  [0.9-1.0]-6
13561512  WTCCC125638      TT-6  [0.9-1.0]-6
13561518  WTCCC125639      TT-6  [0.9-1.0]-6
13561524  WTCCC125640      CT-6  [0.9-1.0]-6
...               ...       ...          ...
13562964  WTCCC127809      TT-6  [0.9-1.0]-6
13562930  WTCCC127812      TT-6  [0.9-1.0]-6
13562934  WTCCC127814      TT-6  [0.9-1.0]-6
13562890  WTCCC127815      TT-6  [0.9-1.0]-6
13562911  WTCCC127817      TT-6  [0.9-1.0]-6

[1500 rows x 3 columns]

In [6]:
rs9371601 = pb.DataFrame(columns=['patient','rs9371601', 'score_4'])

rs9371601['patient'] = syne1['Subject']
rs9371601['rs9371601'] = syne1['Genotype']
rs9371601['rs9371601'] = rs9371601['rs9371601'].map({'GG': 'GG-4' , 'TT': 'TT-4', 'GT': 'GT-4'  })
rs9371601['score_4'] = syne1['Score']
rs9371601['score_4'] = rs9371601['score_4'].map(str)


below02 = rs9371601.score_4 <= '0.2'
below04 = (rs9371601.score_4 > '0.2') & (rs9371601.score_4 <= '0.4')
below06 = (rs9371601.score_4 > '0.4') & (rs9371601.score_4 <= '0.6')
below08 = (rs9371601.score_4 > '0.6') & (rs9371601.score_4 <= '0.8')
below09 = (rs9371601.score_4 > '0.8') & (rs9371601.score_4 <= '0.9')
below1 = (rs9371601.score_4 > '0.9') & (rs9371601.score_4 <= '1.0')

column_name = 'score4'
rs9371601.loc[below02, column_name] = '<= 0.2-4'
rs9371601.loc[below04, column_name] = '[0.2-0.4]-4'
rs9371601.loc[below06, column_name] = '[0.4-0.6]-4'
rs9371601.loc[below08, column_name] = '[0.6-0.8]-4'
rs9371601.loc[below09, column_name] = '[0.8-0.9]-4'
rs9371601.loc[below1, column_name] = '[0.9-1.0]-4'

rs9371601_consider = pb.DataFrame(rs9371601)
rs9371601_consider = rs9371601_consider.drop(['score_4'], axis=1)
rs9371601_consider = rs9371601_consider.sort_values(by='patient', ascending=True)
rs9371601_consider

              patient rs9371601       score4
41433000  WTCCC125636      GG-4  [0.9-1.0]-4
41433006  WTCCC125637      GT-4  [0.9-1.0]-4
41433012  WTCCC125638      GG-4  [0.9-1.0]-4
41433018  WTCCC125639      GG-4  [0.9-1.0]-4
41433024  WTCCC125640      GT-4  [0.9-1.0]-4
...               ...       ...          ...
41434464  WTCCC127809      GT-4  [0.9-1.0]-4
41434430  WTCCC127812      GG-4  [0.9-1.0]-4
41434434  WTCCC127814      GG-4  [0.9-1.0]-4
41434390  WTCCC127815      GT-4  [0.9-1.0]-4
41434411  WTCCC127817      GT-4  [0.9-1.0]-4

[1500 rows x 3 columns]

In [9]:
rs1006737 = pb.DataFrame(columns=['patient','rs1006737', 'score_2'])

rs1006737['patient'] = cacna1c_1006['Subject']
rs1006737['rs1006737'] = cacna1c_1006['Genotype']
rs1006737['rs1006737'] = rs1006737['rs1006737'].map({'GG': 'GG-2' , 'AA': 'AA-2', 'AG': 'AG-2'})
rs1006737['score_2'] = cacna1c_1006['Score']
rs1006737['score_2'] = rs1006737['score_2'].map(str)



below02 = rs1006737.score_2 <= '0.2'
below04 = (rs1006737.score_2 > '0.2') & (rs1006737.score_2 <= '0.4')
below06 = (rs1006737.score_2 > '0.4') & (rs1006737.score_2 <= '0.6')
below08 = (rs1006737.score_2 > '0.6') & (rs1006737.score_2 <= '0.8')
below09 = (rs1006737.score_2 > '0.8') & (rs1006737.score_2 <= '0.9')
below1 = (rs1006737.score_2 > '0.9') & (rs1006737.score_2 <= '1.0')

column_name = 'score2'
rs1006737.loc[below02, column_name] = '<= 0.2-2'
rs1006737.loc[below04, column_name] = '[0.2-0.4]-2'
rs1006737.loc[below06, column_name] = '[0.4-0.6]-2'
rs1006737.loc[below08, column_name] = '[0.6-0.8]-2'
rs1006737.loc[below09, column_name] = '[0.8-0.9]-2'
rs1006737.loc[below1, column_name] = '[0.9-1.0]-2'

rs1006737_consider = pb.DataFrame(rs1006737)
rs1006737_consider = rs1006737_consider.drop(['score_2'], axis=1)
rs1006737_consider = rs1006737_consider.sort_values(by='patient', ascending=True)
rs1006737_consider

            patient rs1006737       score2
600000  WTCCC125636      AG-2  [0.9-1.0]-2
600006  WTCCC125637      AG-2  [0.9-1.0]-2
600012  WTCCC125638      AG-2  [0.9-1.0]-2
600018  WTCCC125639      GG-2  [0.9-1.0]-2
600024  WTCCC125640      AG-2  [0.9-1.0]-2
...             ...       ...          ...
601464  WTCCC127809      AG-2  [0.9-1.0]-2
601430  WTCCC127812      GG-2  [0.9-1.0]-2
601434  WTCCC127814      AG-2  [0.9-1.0]-2
601390  WTCCC127815      AA-2  [0.9-1.0]-2
601411  WTCCC127817      GG-2  [0.9-1.0]-2

[1500 rows x 3 columns]

In [11]:
rs4765914 = pb.DataFrame(columns=['patient','rs4765914', 'score_3'])

rs4765914['patient'] = cacna1c_4765['Subject']
rs4765914['rs4765914'] = cacna1c_4765['Genotype']
rs4765914['rs4765914'] = rs4765914['rs4765914'].map({'TT': 'TT-3' , 'CC': 'CC-3', 'CT': 'CT-3'  })
rs4765914['score_3'] = cacna1c_4765['Score']
rs4765914['score_3'] = rs4765914['score_3'].map(str)



below02 = rs4765914.score_3 <= '0.2'
below04 = (rs4765914.score_3 > '0.2') & (rs4765914.score_3 <= '0.4')
below06 = (rs4765914.score_3 > '0.4') & (rs4765914.score_3 <= '0.6')
below08 = (rs4765914.score_3 > '0.6') & (rs4765914.score_3 <= '0.8')
below09 = (rs4765914.score_3 > '0.8') & (rs4765914.score_3 <= '0.9')
below1 = (rs4765914.score_3 > '0.9') & (rs4765914.score_3 <= '1.0')

column_name = 'score3'
rs4765914.loc[below02, column_name] = '<= 0.2-3'
rs4765914.loc[below04, column_name] = '[0.2-0.4]-3'
rs4765914.loc[below06, column_name] = '[0.4-0.6]-3'
rs4765914.loc[below08, column_name] = '[0.6-0.8]-3'
rs4765914.loc[below09, column_name] = '[0.8-0.9]-3'
rs4765914.loc[below1, column_name] = '[0.9-1.0]-3'

rs4765914_consider = pb.DataFrame(rs4765914)
rs4765914_consider = rs4765914_consider.drop(['score_3'], axis=1)
rs4765914_consider = rs4765914_consider.sort_values(by='patient', ascending=True)
rs4765914_consider

            patient rs4765914       score3
610500  WTCCC125636      CC-3  [0.9-1.0]-3
610506  WTCCC125637      CC-3  [0.9-1.0]-3
610512  WTCCC125638      CT-3  [0.9-1.0]-3
610518  WTCCC125639      CC-3  [0.9-1.0]-3
610524  WTCCC125640      CT-3  [0.9-1.0]-3
...             ...       ...          ...
611964  WTCCC127809      CT-3  [0.9-1.0]-3
611930  WTCCC127812      CC-3  [0.9-1.0]-3
611934  WTCCC127814      CC-3  [0.9-1.0]-3
611890  WTCCC127815      TT-3  [0.9-1.0]-3
611911  WTCCC127817      CC-3  [0.9-1.0]-3

[1500 rows x 3 columns]

In [13]:
rs1064395 = pb.DataFrame(columns=['patient','rs1064395', 'score_5'])

rs1064395['patient'] = ncan['Subject']
rs1064395['rs1064395'] = ncan['Genotype']
rs1064395['rs1064395'] = rs1064395['rs1064395'].map({'AA': 'AA-5' , 'GG': 'GG-5', 'AG': 'AG-5'  })
rs1064395['score_5'] = ncan['Score']
rs1064395['score_5'] = rs1064395['score_5'].map(str)

below02 = rs1064395.score_5 <= '0.2'
below04 = (rs1064395.score_5 > '0.2') & (rs1064395.score_5 <= '0.4')
below06 = (rs1064395.score_5 > '0.4') & (rs1064395.score_5 <= '0.6')
below08 = (rs1064395.score_5 > '0.6') & (rs1064395.score_5 <= '0.8')
below09 = (rs1064395.score_5 > '0.8') & (rs1064395.score_5 <= '0.9')
below1 = (rs1064395.score_5 > '0.9') & (rs1064395.score_5 <= '1.0')

column_name = 'score5'
rs1064395.loc[below02, column_name] = '<= 0.2-5'
rs1064395.loc[below04, column_name] = '[0.2-0.4]-5'
rs1064395.loc[below06, column_name] = '[0.4-0.6]-5'
rs1064395.loc[below08, column_name] = '[0.6-0.8]-5'
rs1064395.loc[below09, column_name] = '[0.8-0.9]-5'
rs1064395.loc[below1, column_name] = '[0.9-1.0]-5'


rs1064395_consider = pb.DataFrame(rs1064395)
rs1064395_consider = rs1064395_consider.drop(['score_5'], axis=1)
rs1064395_consider = rs1064395_consider.sort_values(by='patient', ascending=True)
rs1064395_consider

             patient rs1064395       score5
2568000  WTCCC125636      GG-5  [0.9-1.0]-5
2568006  WTCCC125637      GG-5  [0.9-1.0]-5
2568012  WTCCC125638      AG-5  [0.9-1.0]-5
2568018  WTCCC125639      GG-5  [0.9-1.0]-5
2568024  WTCCC125640      GG-5  [0.9-1.0]-5
...              ...       ...          ...
2569464  WTCCC127809      GG-5  [0.9-1.0]-5
2569430  WTCCC127812      GG-5  [0.9-1.0]-5
2569434  WTCCC127814      GG-5  [0.9-1.0]-5
2569390  WTCCC127815      GG-5  [0.9-1.0]-5
2569411  WTCCC127817      GG-5  [0.9-1.0]-5

[1500 rows x 3 columns]

In [14]:
rs9621532 = pb.DataFrame(columns=['patient','rs9621532', 'score_7'])

rs9621532['patient'] = syn3['Subject']
rs9621532['rs9621532'] = syn3['Genotype']
rs9621532['rs9621532'] = rs9621532['rs9621532'].map({'AA': 'AA-7' , 'CC': 'CC-7', 'AC': 'AC-7'  })
rs9621532['score_7'] = syn3['Score']
rs9621532['score_7'] = rs9621532['score_7'].map(str)

below02 = rs9621532.score_7 <= '0.2'
below04 = (rs9621532.score_7 > '0.2') & (rs9621532.score_7 <= '0.4')
below06 = (rs9621532.score_7 > '0.4') & (rs9621532.score_7 <= '0.6')
below08 = (rs9621532.score_7 > '0.6') & (rs9621532.score_7 <= '0.8')
below09 = (rs9621532.score_7 > '0.8') & (rs9621532.score_7 <= '0.9')
below1 = (rs9621532.score_7 > '0.9') & (rs9621532.score_7 <= '1.0')


column_name = 'score7'
rs9621532.loc[below02, column_name] = '<= 0.2-7'
rs9621532.loc[below04, column_name] = '[0.2-0.4]-7'
rs9621532.loc[below06, column_name] = '[0.4-0.6]-7'
rs9621532.loc[below08, column_name] = '[0.6-0.8]-7'
rs9621532.loc[below09, column_name] = '[0.8-0.9]-7'
rs9621532.loc[below1, column_name] = '[0.9-1.0]-7'

rs9621532_consider = pb.DataFrame(rs9621532)
rs9621532_consider = rs9621532_consider.drop(['score_7'], axis=1)
rs9621532_consider = rs9621532_consider.sort_values(by='patient', ascending=True)
rs9621532_consider

             patient rs9621532       score7
4141500  WTCCC125636      AA-7  [0.9-1.0]-7
4141506  WTCCC125637      AA-7  [0.9-1.0]-7
4141512  WTCCC125638      AA-7  [0.9-1.0]-7
4141518  WTCCC125639      AA-7  [0.9-1.0]-7
4141524  WTCCC125640      AA-7  [0.9-1.0]-7
...              ...       ...          ...
4142964  WTCCC127809      AA-7  [0.9-1.0]-7
4142930  WTCCC127812      AA-7  [0.9-1.0]-7
4142934  WTCCC127814      AA-7  [0.9-1.0]-7
4142890  WTCCC127815      AA-7  [0.9-1.0]-7
4142911  WTCCC127817      AC-7  [0.9-1.0]-7

[1500 rows x 3 columns]

In [15]:
dataset_clinical = "C:\\Users\\USER\\Desktop\\FCUP - Doutoramento\\PHD_Thesis_Git_Code\\WTCCC\\controls\\Chiamo_NBS\\Affx_sample_NBS.txt"
data_clinical = pb.read_table(dataset_clinical, encoding='utf-8', header=0)

In [16]:
data_demo = data_clinical.sort_values("#sample")

df_clinical = pb.DataFrame(columns=['Age','Region','Gender'])
df_clinical['Age'] = data_demo['age_recruitment']
df_clinical['Region'] = data_demo['region']
df_clinical['Gender'] = data_demo['gender']


df_clinical

      Age        Region  Gender
0       5  Southeastern       1
6       5  Southeastern       1
12      3       Eastern       1
18      6      Southern       2
24      3  Southeastern       2
...   ...           ...     ...
1467    5      Scotland       2
1431    3      Scotland       1
1435    5      Scotland       2
1393    3      Scotland       1
1414    2      Scotland       2

[1500 rows x 3 columns]

In [17]:
merge_dataset = rs1523041_consider.merge(rs1006737_consider).merge(rs4765914_consider).merge(rs9371601_consider).merge(rs1064395_consider).merge(rs7680321_consider).merge(rs9621532_consider)

In [18]:
merge_dataset['Age'] = df_clinical['Age']
merge_dataset['Region'] = df_clinical['Region']
merge_dataset['Gender'] = df_clinical['Gender']
merge_dataset['cohort'] = 'control'
merge_dataset['Gender'] =merge_dataset['Gender'].map({1: 'male' , 2: 'female'})

In [20]:
dataset_upload = pb.read_csv("C:\\Users\\USER\\Desktop\\FCUP - Doutoramento\\PHD_Thesis_Git_Code\\WTCCC\\table_study_cases_control.csv")
dataset_upload

,patient,rs1523041,score1,rs1006737,score2,rs4765914,score3,rs9371601,score4,rs1064395,score5,rs7680321,score6,rs9621532,score7,Age,Region,Gender,cohort
0,WTCCC65841,GG-1,[0.9-1.0]-1,AG-2,[0.9-1.0]-2,CT-3,[0.9-1.0]-3,GG-4,[0.9-1.0]-4,GG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AC-7,[0.9-1.0]-7,3,Southwestern,female,case
1,WTCCC65569,CG-1,[0.9-1.0]-1,AG-2,[0.9-1.0]-2,CT-3,[0.9-1.0]-3,TT-4,[0.9-1.0]-4,AG-5,[0.9-1.0]-5,CT-6,[0.9-1.0]-6,AA-7,[0.9-1.0]-7,5,Southwestern,female,case
2,WTCCC65777,CG-1,[0.9-1.0]-1,AG-2,[0.9-1.0]-2,CC-3,[0.9-1.0]-3,GG-4,[0.9-1.0]-4,GG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AA-7,[0.9-1.0]-7,6,Northwestern,female,case
3,WTCCC65795,GG-1,[0.9-1.0]-1,AG-2,[0.9-1.0]-2,CC-3,[0.9-1.0]-3,GG-4,[0.9-1.0]-4,GG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AA-7,[0.9-1.0]-7,3,Southern,male,case
4,WTCCC65810,CG-1,[0.9-1.0]-1,AG-2,[0.9-1.0]-2,CT-3,[0.9-1.0]-3,GT-4,[0.9-1.0]-4,AG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AA-7,[0.9-1.0]-7,7,Wales,male,case
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,WTCCC89356,CG-1,[0.9-1.0]-1,AG-2,[0.9-1.0]-2,CT-3,[0.9-1.0]-3,GT-4,[0.9-1.0]-4,GG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AA-7,[0.9-1.0]-7,6,Northwestern,female,control
3496,WTCCC89359,CG-1,[0.9-1.0]-1,AG-2,[0.9-1.0]-2,CC-3,[0.9-1.0]-3,GT-4,[0.9-1.0]-4,GG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AA-7,[0.9-1.0]-7,6,Northern,female,control
3497,WTCCC89360,CG-1,[0.9-1.0]-1,AG-2,[0.9-1.0]-2,CT-3,[0.9-1.0]-3,GG-4,[0.9-1.0]-4,GG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AA-7,[0.9-1.0]-7,6,Northwestern,female,control
3498,WTCCC89361,CC-1,[0.9-1.0]-1,AG-2,[0.9-1.0]-2,CT-3,[0.9-1.0]-3,GG-4,[0.9-1.0]-4,GG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AA-7,[0.9-1.0]-7,6,Southeastern,female,control
3499,WTCCC89363,CG-1,[0.9-1.0]-1,GG-2,[0.9-1.0]-2,CC-3,[0.9-1.0]-3,GT-4,[0.9-1.0]-4,GG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AC-7,[0.9-1.0]-7,6,Eastern,female,control

In [39]:
dataset_upload_without_scores = dataset_upload.drop(columns=["score1","score2","score3","score4","score5","score6","score7"])
dataset_upload_without_scores_just_cases = dataset_upload_without_scores[dataset_upload_without_scores["cohort"] == 'case']

dataset_upload_without_scores_just_cases

,patient,rs1523041,rs1006737,rs4765914,rs9371601,rs1064395,rs7680321,rs9621532,Age,Region,Gender,cohort
0,WTCCC65841,GG-1,AG-2,CT-3,GG-4,GG-5,TT-6,AC-7,3,Southwestern,female,case
1,WTCCC65569,CG-1,AG-2,CT-3,TT-4,AG-5,CT-6,AA-7,5,Southwestern,female,case
2,WTCCC65777,CG-1,AG-2,CC-3,GG-4,GG-5,TT-6,AA-7,6,Northwestern,female,case
3,WTCCC65795,GG-1,AG-2,CC-3,GG-4,GG-5,TT-6,AA-7,3,Southern,male,case
4,WTCCC65810,CG-1,AG-2,CT-3,GT-4,AG-5,TT-6,AA-7,7,Wales,male,case
...,...,...,...,...,...,...,...,...,...,...,...,...
1993,WTCCC64699,CC-1,GG-2,CC-3,GG-4,GG-5,CC-6,AA-7,3,Wales,male,case
1994,WTCCC64724,CG-1,GG-2,CC-3,GT-4,GG-5,CT-6,AA-7,4,Midlands,male,case
1995,WTCCC64656,CC-1,AG-2,CC-3,GT-4,AG-5,CT-6,AA-7,3,Midlands,female,case
1996,WTCCC64661,CG-1,GG-2,CC-3,GG-4,GG-5,TT-6,AA-7,5,Northern,female,case
1997,WTCCC64670,CG-1,AG-2,CT-3,TT-4,GG-5,TT-6,AA-7,3,Midlands,female,case

In [22]:
frames = [dataset_upload,merge_dataset]

result = pb.concat(frames)

result
result.to_csv("C:\\Users\\USER\\Desktop\\FCUP - Doutoramento\\PHD_Thesis_Git_Code\\WTCCC\\table_study_cases_control_with_scores_and_new_controls.csv", index = False)

In [41]:
frames_2 = [dataset_upload_without_scores_just_cases,merge_dataset]

result_2 = pb.concat(frames_2)

result_2
result_2.to_csv("C:\\Users\\USER\\Desktop\\FCUP - Doutoramento\\PHD_Thesis_Git_Code\\WTCCC\\table_study_cases_control_with_just_new_controls.csv", index = False)

In [42]:
result_2

,patient,rs1523041,rs1006737,rs4765914,rs9371601,rs1064395,rs7680321,rs9621532,Age,Region,Gender,cohort
0,WTCCC65841,GG-1,AG-2,CT-3,GG-4,GG-5,TT-6,AC-7,3,Southwestern,female,case
1,WTCCC65569,CG-1,AG-2,CT-3,TT-4,AG-5,CT-6,AA-7,5,Southwestern,female,case
2,WTCCC65777,CG-1,AG-2,CC-3,GG-4,GG-5,TT-6,AA-7,6,Northwestern,female,case
3,WTCCC65795,GG-1,AG-2,CC-3,GG-4,GG-5,TT-6,AA-7,3,Southern,male,case
4,WTCCC65810,CG-1,AG-2,CT-3,GT-4,AG-5,TT-6,AA-7,7,Wales,male,case
...,...,...,...,...,...,...,...,...,...,...,...,...
1495,WTCCC127809,CG-1,AG-2,CT-3,GT-4,GG-5,TT-6,AA-7,5,Eastern,male,control
1496,WTCCC127812,CC-1,GG-2,CC-3,GG-4,GG-5,TT-6,AA-7,3,Northern,female,control
1497,WTCCC127814,CG-1,AG-2,CC-3,GG-4,GG-5,TT-6,AA-7,3,Northern,male,control
1498,WTCCC127815,CG-1,AA-2,TT-3,GT-4,GG-5,TT-6,AA-7,4,Midlands,male,control
1499,WTCCC127817,CG-1,GG-2,CC-3,GT-4,GG-5,TT-6,AC-7,6,East + West Ridings,male,control