In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as seabornInstance
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
#matplotlib inline
import random

In [2]:
dataset = pd.read_csv('C:\\Users\\USER\\Desktop\\FCUP - Doutoramento\\PHD_Thesis_Git_Code\\WTCCC\\table_study_cases_control_with_scores_and_new_controls.csv')

In [34]:
dataset

,patient,rs1523041,score1,rs1006737,score2,rs4765914,score3,rs9371601,score4,rs1064395,score5,rs7680321,score6,rs9621532,score7,Age,Region,Gender,cohort
0,WTCCC65841,GG-1,[0.9-1.0]-1,AG-2,[0.9-1.0]-2,CT-3,[0.9-1.0]-3,GG-4,[0.9-1.0]-4,GG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AC-7,[0.9-1.0]-7,3,Southwestern,female,case
1,WTCCC65569,CG-1,[0.9-1.0]-1,AG-2,[0.9-1.0]-2,CT-3,[0.9-1.0]-3,TT-4,[0.9-1.0]-4,AG-5,[0.9-1.0]-5,CT-6,[0.9-1.0]-6,AA-7,[0.9-1.0]-7,5,Southwestern,female,case
2,WTCCC65777,CG-1,[0.9-1.0]-1,AG-2,[0.9-1.0]-2,CC-3,[0.9-1.0]-3,GG-4,[0.9-1.0]-4,GG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AA-7,[0.9-1.0]-7,6,Northwestern,female,case
3,WTCCC65795,GG-1,[0.9-1.0]-1,AG-2,[0.9-1.0]-2,CC-3,[0.9-1.0]-3,GG-4,[0.9-1.0]-4,GG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AA-7,[0.9-1.0]-7,3,Southern,male,case
4,WTCCC65810,CG-1,[0.9-1.0]-1,AG-2,[0.9-1.0]-2,CT-3,[0.9-1.0]-3,GT-4,[0.9-1.0]-4,AG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AA-7,[0.9-1.0]-7,7,Wales,male,case
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,WTCCC127809,CG-1,[0.9-1.0]-1,AG-2,[0.9-1.0]-2,CT-3,[0.9-1.0]-3,GT-4,[0.9-1.0]-4,GG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AA-7,[0.9-1.0]-7,5,Eastern,male,control
4996,WTCCC127812,CC-1,[0.9-1.0]-1,GG-2,[0.9-1.0]-2,CC-3,[0.9-1.0]-3,GG-4,[0.9-1.0]-4,GG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AA-7,[0.9-1.0]-7,3,Northern,female,control
4997,WTCCC127814,CG-1,[0.9-1.0]-1,AG-2,[0.9-1.0]-2,CC-3,[0.9-1.0]-3,GG-4,[0.9-1.0]-4,GG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AA-7,[0.9-1.0]-7,3,Northern,male,control
4998,WTCCC127815,CG-1,[0.9-1.0]-1,AA-2,[0.9-1.0]-2,TT-3,[0.9-1.0]-3,GT-4,[0.9-1.0]-4,GG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AA-7,[0.9-1.0]-7,4,Midlands,male,control
4999,WTCCC127817,CG-1,[0.9-1.0]-1,GG-2,[0.9-1.0]-2,CC-3,[0.9-1.0]-3,GT-4,[0.9-1.0]-4,GG-5,[0.9-1.0]-5,TT-6,[0.9-1.0]-6,AC-7,[0.9-1.0]-7,6,East + West Ridings,male,control

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   patient    5000 non-null   object
 1   rs1523041  5000 non-null   object
 2   score1     5000 non-null   object
 3   rs1006737  5000 non-null   object
 4   score2     5000 non-null   object
 5   rs4765914  5000 non-null   object
 6   score3     5000 non-null   object
 7   rs9371601  5000 non-null   object
 8   score4     5000 non-null   object
 9   rs1064395  5000 non-null   object
 10  score5     5000 non-null   object
 11  rs7680321  5000 non-null   object
 12  score6     5000 non-null   object
 13  rs9621532  5000 non-null   object
 14  score7     5000 non-null   object
 15  Age        5000 non-null   int64
 16  Region     5000 non-null   object
 17  Gender     5000 non-null   object
 18  cohort     5000 non-null   object
dtypes: int64(1), object(18)
memory usage: 742.3+ KB

In [5]:
dataset.columns

Index(['patient', 'rs1523041', 'score1', 'rs1006737', 'score2', 'rs4765914',
       'score3', 'rs9371601', 'score4', 'rs1064395', 'score5', 'rs7680321',
       'score6', 'rs9621532', 'score7', 'Age', 'Region', 'Gender', 'cohort'],
      dtype='object')

In [30]:
print(random.choice(dataset.columns))

rs1523041

1 random SNP related to Bipolar, applying Logistic Regression

In [12]:
snp_random_select = pd.DataFrame(columns=['rs1006737', 'score_2', 'cohort'])

In [13]:
snp_random_select['rs1006737'] = dataset['rs1006737']
snp_random_select['score_2'] = dataset['score2']
snp_random_select['cohort'] = dataset['cohort']

In [14]:
s1 = ['rs1006737','score_2', 'cohort' ]

dummies_snp = pd.get_dummies(snp_random_select)
dummies_snp = dummies_snp.drop(columns=['cohort_case'])
dummies_snp

,rs1006737_AA-2,rs1006737_AG-2,rs1006737_GG-2,score_2_[0.4-0.6]-2,score_2_[0.6-0.8]-2,score_2_[0.8-0.9]-2,score_2_[0.9-1.0]-2,cohort_control
0,0,1,0,0,0,0,1,0
1,0,1,0,0,0,0,1,0
2,0,1,0,0,0,0,1,0
3,0,1,0,0,0,0,1,0
4,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
4995,0,1,0,0,0,0,1,1
4996,0,0,1,0,0,0,1,1
4997,0,1,0,0,0,0,1,1
4998,1,0,0,0,0,0,1,1
4999,0,0,1,0,0,0,1,1

In [15]:
dummies_snp.columns

Index(['rs1006737_AA-2', 'rs1006737_AG-2', 'rs1006737_GG-2',
       'score_2_[0.4-0.6]-2', 'score_2_[0.6-0.8]-2', 'score_2_[0.8-0.9]-2',
       'score_2_[0.9-1.0]-2', 'cohort_control'],
      dtype='object')

In [16]:
#split dataset in features and target variable
feature_cols = ['rs1006737_AA-2', 'rs1006737_AG-2', 'rs1006737_GG-2',
                'score_2_[0.4-0.6]-2', 'score_2_[0.6-0.8]-2', 'score_2_[0.8-0.9]-2',
                'score_2_[0.9-1.0]-2'
                ]
X = dummies_snp[feature_cols] # Features
y = dummies_snp.cohort_control # Target variable

In [33]:
#random_seed = 888
# split X and y into training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20)


print(X_train.shape)
print(X_test.shape)
print("Train info:")
print(X_train['rs1006737_AA-2'].value_counts(normalize=True))
print("Test info:")
print(X_test['rs1006737_AA-2'].value_counts(normalize=True))

(4000, 7)
(1000, 7)
Train info:
0    0.879
1    0.121
Name: rs1006737_AA-2, dtype: float64
Test info:
0    0.891
1    0.109
Name: rs1006737_AA-2, dtype: float64

In [34]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression(class_weight='balanced')

# fit the model with data
logreg.fit(X_train,y_train)

#
y_pred=logreg.predict(X_test)

Confusion Matrix obtaining from the logistic regression

In [10]:
from sklearn.model_selection import cross_validate
from sklearn.metrics import confusion_matrix

def confusion_matrix_scorer(clf, X, y):
   y_pre = clf.predict(X)
   cm = confusion_matrix(y, y_pre)
   return {'tn': cm[0, 0], 'fp': cm[0, 1],
                 'fn': cm[1, 0], 'tp': cm[1, 1]}

In [35]:
confusion_matrix_scorer(logreg,X_test,y_test)

{'tn': 207, 'fp': 181, 'fn': 314, 'tp': 298}

Experiment of Logistic Regression with SNPs that were obtained from the apriori algorithm

SNPs found in apriori:
'rs7680321'
'rs1006737'
'rs4765914'
'rs9621532'

In [3]:
snp_random_select_apriori = pd.DataFrame(columns=['rs1006737','score_2','rs4765914', 'score_3', 'rs7680321', 'score_6', 'rs9621532', 'score_7','cohort'])
snp_random_select_apriori['rs1006737'] = dataset['rs1006737']
snp_random_select_apriori['score_2'] = dataset['score2']
snp_random_select_apriori['rs4765914'] = dataset['rs4765914']
snp_random_select_apriori['score_3'] = dataset['score3']
snp_random_select_apriori['rs7680321'] = dataset['rs7680321']
snp_random_select_apriori['score_6'] = dataset['score6']
snp_random_select_apriori['rs9621532'] = dataset['rs9621532']
snp_random_select_apriori['score_7'] = dataset['score7']
snp_random_select_apriori['cohort'] = dataset['cohort']
dummies_snp_apriori = pd.get_dummies(snp_random_select_apriori)
dummies_snp_apriori = dummies_snp_apriori.drop(columns=['cohort_case'])

dummies_snp_apriori

,rs1006737_AA-2,rs1006737_AG-2,rs1006737_GG-2,score_2_[0.4-0.6]-2,score_2_[0.6-0.8]-2,score_2_[0.8-0.9]-2,score_2_[0.9-1.0]-2,rs4765914_CC-3,rs4765914_CT-3,rs4765914_TT-3,...,score_6_[0.9-1.0]-6,rs9621532_AA-7,rs9621532_AC-7,rs9621532_CC-7,score_7_<= 0.2-7,score_7_[0.4-0.6]-7,score_7_[0.6-0.8]-7,score_7_[0.8-0.9]-7,score_7_[0.9-1.0]-7,cohort_control
0,0,1,0,0,0,0,1,0,1,0,...,1,0,1,0,0,0,0,0,1,0
1,0,1,0,0,0,0,1,0,1,0,...,1,1,0,0,0,0,0,0,1,0
2,0,1,0,0,0,0,1,1,0,0,...,1,1,0,0,0,0,0,0,1,0
3,0,1,0,0,0,0,1,1,0,0,...,1,1,0,0,0,0,0,0,1,0
4,0,1,0,0,0,0,1,0,1,0,...,1,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,0,1,0,0,0,0,1,0,1,0,...,1,1,0,0,0,0,0,0,1,1
4996,0,0,1,0,0,0,1,1,0,0,...,1,1,0,0,0,0,0,0,1,1
4997,0,1,0,0,0,0,1,1,0,0,...,1,1,0,0,0,0,0,0,1,1
4998,1,0,0,0,0,0,1,0,0,1,...,1,1,0,0,0,0,0,0,1,1
4999,0,0,1,0,0,0,1,1,0,0,...,1,0,1,0,0,0,0,0,1,1

In [4]:
dummies_snp_apriori.columns

Index(['rs1006737_AA-2', 'rs1006737_AG-2', 'rs1006737_GG-2',
       'score_2_[0.4-0.6]-2', 'score_2_[0.6-0.8]-2', 'score_2_[0.8-0.9]-2',
       'score_2_[0.9-1.0]-2', 'rs4765914_CC-3', 'rs4765914_CT-3',
       'rs4765914_TT-3', 'score_3_<= 0.2-3', 'score_3_[0.4-0.6]-3',
       'score_3_[0.6-0.8]-3', 'score_3_[0.8-0.9]-3', 'score_3_[0.9-1.0]-3',
       'rs7680321_CC-6', 'rs7680321_CT-6', 'rs7680321_TT-6',
       'score_6_<= 0.2-6', 'score_6_[0.6-0.8]-6', 'score_6_[0.8-0.9]-6',
       'score_6_[0.9-1.0]-6', 'rs9621532_AA-7', 'rs9621532_AC-7',
       'rs9621532_CC-7', 'score_7_<= 0.2-7', 'score_7_[0.4-0.6]-7',
       'score_7_[0.6-0.8]-7', 'score_7_[0.8-0.9]-7', 'score_7_[0.9-1.0]-7',
       'cohort_control'],
      dtype='object')

In [5]:
#split dataset in features and target variable
feature_cols = ['rs1006737_AA-2', 'rs1006737_AG-2', 'rs1006737_GG-2',
                'score_2_[0.4-0.6]-2', 'score_2_[0.6-0.8]-2', 'score_2_[0.8-0.9]-2',
                'score_2_[0.9-1.0]-2', 'rs4765914_CC-3', 'rs4765914_CT-3',
                'rs4765914_TT-3', 'score_3_<= 0.2-3', 'score_3_[0.4-0.6]-3',
                'score_3_[0.6-0.8]-3', 'score_3_[0.8-0.9]-3', 'score_3_[0.9-1.0]-3',
                'rs7680321_CC-6', 'rs7680321_CT-6', 'rs7680321_TT-6',
                'score_6_<= 0.2-6', 'score_6_[0.6-0.8]-6', 'score_6_[0.8-0.9]-6',
                'score_6_[0.9-1.0]-6', 'rs9621532_AA-7', 'rs9621532_AC-7',
                'rs9621532_CC-7', 'score_7_<= 0.2-7', 'score_7_[0.4-0.6]-7',
                'score_7_[0.6-0.8]-7', 'score_7_[0.8-0.9]-7', 'score_7_[0.9-1.0]-7'
                ]
X_random = dummies_snp_apriori[feature_cols] # Features
y_random = dummies_snp_apriori.cohort_control # Target variable

In [30]:
#random_seed = 888
# split X and y into training and testing sets
X_train_random,X_test_random,y_train_random,y_test_random=train_test_split(X_random,y_random,test_size=0.20)


print(X_train_random.shape)
print(X_test_random.shape)
print("Train info:")
print(X_train_random['rs4765914_CT-3'].value_counts(normalize=True))
print("Test info:")
print(X_test_random['rs4765914_CT-3'].value_counts(normalize=True))

(4000, 30)
(1000, 30)
Train info:
0    0.65575
1    0.34425
Name: rs4765914_CT-3, dtype: float64
Test info:
0    0.676
1    0.324
Name: rs4765914_CT-3, dtype: float64

In [31]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg_v2 = LogisticRegression(class_weight='balanced')

# fit the model with data
logreg_v2.fit(X_train_random,y_train_random)

#
y_pred_random=logreg_v2.predict(X_test_random)

c:\users\user\miniconda3\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [32]:
confusion_matrix_scorer(logreg_v2,X_test_random,y_test_random)

{'tn': 182, 'fp': 215, 'fn': 247, 'tp': 356}